{% extends 'base-super-admin-page.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
<link rel="stylesheet" href="{% static 'css/add-driver.css' %}" />
{% endblock %}

{% block main %}
<div class="right-side">
    <h2>Ajouter un Chauffeur</h2>
        
    {% if error %}
        <div class="alert-error">
            {{ error }}
        </div>
    {% endif %}

    <form action="{% url 'save_driver' %}" method="POST">
        {% csrf_token %}
        <label for="driver_name">Nom du chauffeur :</label>
        <input type="text" id="driver_name" name="driver_name" required value="{{ driver_name|default:'' }}">
        
        <label for="country">Pays :</label>
        <select id="country" name="country" required>
            <option value="{{ country }}" selected>{{ country }}</option>
            <!-- Ajouter d'autres options si nécessaire -->
        </select>
    
        <label for="city">Ville :</label>
        <input type="text" id="city" name="city" required value="{{ city|default:'' }}">
        
        <label for="localite">Localité :</label>
        <input type="text" id="localite" name="localite" required value="{{ localite|default:'' }}">
        
        <label for="phone">Numéro de téléphone :</label>
        <div class="phone-container">
            <select id="country_code" name="country_code" required>
                <option value="{{ country_code }}" selected>{{ country_code }}</option>
                <!-- Ajouter d'autres options si nécessaire -->
            </select>
            <input type="number" id="phone" name="phone" required placeholder="Numéro" value="{{ phone|default:'' }}">
        </div>
        
        <button class="button-33" type="submit">Ajouter</button>
        <button class="button-34" type="reset">Annuler</button>
    </form>
 </div>
{% endblock %}

{% block js %}
<script defer src="{% static 'js/add-driver.js' %}"></script>
{% endblock %}
