{% extends 'base-super-admin-page.html' %}

<div class="header-right">
    <div class="language"><i class="fa-regular fa-globe"></i><span style="font-size:13px; padding-left:5px; font-weight:bold;">EN</span>&nbsp;</div>
    <div class="circle-help-box">
        <div class="circle-help"><i class="fa-light fa-circle-question"></i></div>
    </div>
    <div class="user-profile">
        <div class="circle-user"><i style="position:absolute; top:5px; left:6px;" class="fa-solid fa-user"></i></div>
        <div class="metier">
            <div>Role</div>
            <div>superAdmin</div>
        </div>
    </div>
</div>