body {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; */
    /* background-color: #f4f4f4; */
    font-family: Arial, sans-serif;
    margin: 60px 10px 10px 30px;
    /* text-align: center; */
}

.main-container{
    margin:auto;
    height: 100vh;
    /* background-color: #f4f4f4; */
    /* font-family: Arial, sans-serif; */
    text-align: center;
}

.info-box{
    /* width: 380px; */
    font-size: 15px;
    text-align: center;
    margin:auto;
    width: fit-content;
}


.password-box{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 470px;
    margin: 5px auto;
    padding: 3px 10px 3px 10px;
    /* background: #EAEEF3; */
    border-radius: 5px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    white-space: pre;
    color: #556682;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
}
.password-text{
    position: relative;
    border: 1px solid #BFC1C5;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-family: Monaco, Consolas, Liberation Mono, Courier New, monospace;
    /* font-weight: bold; */
    color: #293549;
    margin-right: 10px;
    cursor: text;
    text-align: left;
    /* margin-bottom: 30px; */
}
.child-password-text{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    padding-left:10px;
}


.icon {
    font-size: 50px;
    color: #28a745;
    margin-bottom: 20px;
}
.icon-box{
    display: inline-block;
    border: 2px solid #BFC1C5;
    border-radius: 4px;
    font-size: 22px;
    color:#BFC1C5;
    padding: 2px 8px;
    cursor: pointer;
}
.icon-box:hover{
    color:#040a14;
    opacity: 0.5;
    border-color: #040a14;
}

.message {
    font-size: 17px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.back-link {
    font-size: 16px;
}
.back-link a{
    all: unset;
    color:#0000EE;
}
.back-link a:hover{
    color:#0000EE;
    text-decoration: underline;
    text-underline-offset: 2px;
}
.back-link a:link{
    color:#0000EE;
    /* text-decoration: underline; */
    /* text-decoration-offset: 2px; */
}