body {
    background-color: #f8f9fa;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.connexion{
    text-decoration: none !important;
    text-align: right !important;
    display: inline-block;
    white-space: nowrap !important;
    margin: 10px 0 10px 0 !important;
    color: #007bff !important;
}

.connexion:hover{
    text-decoration: underline !important;
    text-underline-offset: 2px !important; 
}

.title{
    margin-top: 30px;
    margin-bottom: 30px;
}

.line{
    border: none;
    border-bottom: 5px solid  #799545;
    border-radius: 5px;
    width: 30%;
    margin:auto auto 30px auto;
}
.message{
    text-align: justify !important;
}